<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Kim - Innventure IBC Submission</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5cb1ecfd65.js" crossorigin="anonymous"></script> <!-- font awesome -->
  </script>
  
  
  <script>
      
      var myVar = setInterval(myTimer, 1000);
      function myTimer() {
        var d = new Date();
        document.getElementById("demo").innerHTML = d.toLocaleDateString() + " " + d.toLocaleTimeString();
      }
      
      var intervalWork = setInterval(function() {
          var elapsedTimeWork = Date.now() - <%= @company_seconds %>;
          document.getElementById("timerWork").innerHTML = Math.floor(elapsedTimeWork / 1000 / (60*60*24*30)) + "M:" + Math.floor(elapsedTimeWork / 1000 / (60*60*24)%30) + "D"  + "H:"  + Math.floor(elapsedTimeWork / 1000 / (60)%60) + "M:" + (elapsedTimeWork / 1000 % 60).toFixed(0) + "S";
      }, 1000);
      
  </script>
  
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQHxuoGZJYH4Gg/profile-displayphoto-shrink_200_200/0/1517624529226?e=1632960000&v=beta&t=KeJq466QyQt2pIe72hdCCM6UG7Vevs3kXtEFtIXlxEg" class="rounded-circle float-start img-thumbnail" width="20%" style="margin: 0px 15px 0px 0;">
          <h4 class="text-left">
            andrew.kim7@parthenon.ey.com
          </h4>
          <p class="text-muted">IBC submission for Innventure Rotation Program starting on September 20th, 2021.  Current date & time: <span id="demo" class="debug"></span></p>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>